<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boilerplate!!!</title>
    <link rel="stylesheet" href="/public/stylesheets/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v3.6.1/maptiler-sdk.umd.min.js"></script>
<link href="https://cdn.maptiler.com/maptiler-sdk-js/v3.6.1/maptiler-sdk.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
 
  <%- include('../partials/nav') %>
    <%- include('../partials/flash') %>
    <main class="container mt-4">
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="/javascript/validate.js"></script>

<!-- <script>
document.getElementById('image').addEventListener('change', function() {
    let fileNames = [];
    for (let i = 0; i < this.files.length; i++) {
        fileNames.push(this.files[i].name);
    }
    document.getElementById('fileNames').innerText = fileNames.join(', ');
});
</script> -->
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<!-- <script>
  document.addEventListener('DOMContentLoaded', function () {
    bsCustomFileInput.init();
  });
</script> -->
<script>
document.getElementById('image').addEventListener('change', function (event) {
    const input = event.target;
    const label = input.nextElementSibling;

    if (input.files.length > 0) {
        const fileNames = Array.from(input.files)
                               .map(file => file.name)
                               .join(', ');
        label.textContent = fileNames;
    } else {
        label.textContent = "Choose files";
    }
});
</script>
</body>
</html>